// Specific CSS for your home-page
.land-tag-line {
  width: 300px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px
}

.land-pad {
  padding-top: 134px;
}

.get-started {
  width: 220px;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  background: white;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}
#fuckin-btn a {
  // position: absolute;
  // left: 34.93%;
  // right: 36.27%;
  // top: 67%;
  // bottom: 30.79%;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  // line-height: 18px;
  text-align: center;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #29AEDB;
}

.container {
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 100px;
  text-color: #414747
}

.land-logo {
  margin-bottom: 80px

}

.land-text{
  font-family: 'Inter', sans-serif;
  color: #6d7575;
}

.text-center {
  text-align: center;
}

.land-imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
