<h1>YOU LANDED ON A POT OF JUNK</h1>

<p>Temporary navigation links: </p>
<ul>
      <li><%= link_to "New item", items_new_path %></li>
      <li><%= link_to "List items", items_index_path %></li>
</ul>

<br>

<%= cl_image_tag("v1600366577/hf0tb75kupevvnu3tteo.jpg",
      width: 400, height: 300, crop: :fill) %>


<%= cl_image_tag("v1600365538/BOB/IMG_0231_egncso.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

