/* ---- fonts ----  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
/* ---- Components design ----  */
@import url("components/container.css");
@import url(components/avatar.css);
@import url(components/button.css);
@import url(components/cards.css);
@import url(nav.css);
/* ---- Fonts & Colors ----  */

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(225deg, #00FBFF 0%, #2BA9D9 100%);
}

.text-cetner {
  text-align: center;
}
