<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

    <h1 class="text-center">BOB Components</h1>
    <nav class="nav">
      <a href="#" class="nav__link">
        <i class="material-icons nav__icon">chat_bubble_outline</i>
        </span class="nav__text">Chat</span>
      </a>
      <a href="#" class="nav__link">
        <i class="material-icons nav__icon">attach_file</i>
        </span class="nav__text">Play</span>
      </a>
      <a href="#" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">home</i>
        </span class="nav__text">Home</span>
      </a>
    </nav>


<%= link_to "Back to landing page", root_path %>
