.container {
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: calc(100vh - 75px);
  overflow-y: scroll;
}

.container-btm {
  width: 100%;
  height: 275px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.container-div {
  position: relative;

}

.container-sizechart {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  padding-bottom: 100px;

}

.container-sizechart-s {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  width: 50%;
  margin: 0 auto;
  background: #FFFFFF;

}

.arrow .container {
  margin-top: 150px;
}

.stick {
  bottom: 75px;
}

.simple_form {
  bottom: 75px;
}

.form-group {
  width: 100%;
}

#new-message {
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
  background: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.simple_form.new_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
