.trade-container-top {
  position: absolute;
  left: 0%;
  right: 0%;
  top: -1%;
  bottom: 80.05%;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
}

.trade-container-bottom {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 80.05%;
  bottom: -1%;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
  transform: rotate(180deg)
}

.index-container {
  margin-top: 130px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: calc(100vh - 75px);
}

.chat-container {
  padding-left: 20px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: calc(100vh - 75px);
  overflow-y: scroll;
}

.all-chats-container {
  padding-left: 20px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: calc(100vh - 75px);
  overflow-y: scroll;
  padding-top: 25px;
}

.new-item-container {
  margin-top: 140px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: calc(100vh - 300px);
}

.chat-trades {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-container{
padding: 25px;
}

.container-div {
  position: relative;
}

.container-sizechart {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  padding-bottom: 100px;

p {
  text-align: center;
}

}

.container-show-text {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;

}

.container-show-text-b {
  display: flex;
  justify-content: space-evenly;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;

}

.container-sizechart-s {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  width: 50%;
  margin: 0 auto;
  background: #FFFFFF;

}

.arrow .container {
  margin-top: 150px;
  padding-left: 40px;
}

.stick {
  bottom: 175px;
}

.simple_form {
  bottom: 175px;
}

.form-group {
  width: 100%;
}

.simple_form.new_message {
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
  background: white;
  padding: 30px;
  justify-content: space-between;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1);
}

#trade-page-body {
  margin-right: 0px;
}

.simple_form.new_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper {
  padding-bottom: 10px;
}

.hidden-form {
  // display: none;
}

.show-container {
  padding: 25px;
  width: 10%;
  margin: 0 auto;
  width: 50px;

}
