.container {
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.container-btm {
  width: 100%;
  height: 275px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 20px -20px 20px rgba(0, 0, 0, 0.0796252);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.container-div {
  position: relative;

}

.container-sizechart {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;

}

.arrow .container {
  margin-top: 150px;
}
