.dashboard-item {
  width: 120px;
  height: 120px;
  border-radius:50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  object-fit: cover;
  margin: 10px 8px;
  }

.trade-item-selection {
  width: 100px;
  height: 100px;
  border-radius:50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  object-fit: cover;
  margin: 10px 8px;
}