.title-white {
  position: absolute;
  top: 3.22%;
  padding-left: 40px;


  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.32px;

  color: #FFFFFF;
}

#body-font {
   font-family: Inter;
}

.arrow {
  font-size: 20px;
}
