 <div class="d-flex message-preview">
     <% if message.present? %>

      <%=image_tag(current_user.photo, :class => "avatar-55")%>
     <div class="flex-column">
      <div class="user-name">
        <%= message.user.name %>
      </div>
      <div class="user-message">
        <%= message.message %>
      </div>
      </div>
      <% else %>
    You have a new trade request! Click here to find out who it is from.
    <% end %>
</div>
