

<div class='container-div'><div class="container-btm"></div></div>
<div class='land-pad'>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' align='center'>
       <h2>Bigger</h2>
          <div class="game-card">
            <%= cl_image_tag @bigger_item.photo.key, class: 'card-img', alt: 'Bigger Item' %>
              <% if @user_item.size >= @bigger_item.size %>
                <h2> Its bigger</h2>
              <% else %>
              <h2>Your item is not bigger</h2>
            <% end %>
        </div>

      <div>
        <h2>My Item</h2>
          <%= cl_image_tag @user_item.photo.key, class: 'Put class name', alt: 'User Item', class: "avatar-150-image"%>
      </div>

        <div class= 'game-btn'>
          <span class="material-icons">
            home
          </span>
        </div>

         <div class= 'game-btn'>
          <span class="material-icons">
            skip
          </span>
        </div>

         <div class= 'game-btn'>
          <span class="material-icons">
            shuffle
          </span>
        </div>

    <h2>Better</h2>
      <div class="game-card">
        <%= cl_image_tag @better_item.photo.key, class: 'card-img', alt: 'Bigger Item' %>
          <% if @user_item.size <= @better_item.size %>
            <h2> Its better</h2>
            <% else %>
          <h2>Shuiffle for a better match</h2>
        <% end  %>
     </div>
    </div>
  </div>
</div>


